.App-logo {
  height: 40vmin;
}

.App-header {
  margin: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}
